<!DOCTYPE html>
<html>
  <head>
    <title>Contato</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Cadastro</h1>
    <p><%= dados %></p>
  </body>
</html>
